/* colors */
@import './variables.scss';

/* DARK THEME */
@import './AppThemes.css';

/* LIGHT THEME - default */
body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.App {
  background: $backgroundColor;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100vh;

  -webkit-transition: 0.5s ease-out;
  -moz-transition:  0.5s ease-out;
  transition:  0.5s ease-out;
}

.Nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 50px;
  width: 600px;
}

.Nav.navBar {
  border-bottom: 2px solid $mainTextColor;

  justify-content: space-around;
  position: absolute;
  
  padding: 15px;
  top: 0;
  width: 80%;
}

.nav-link {
  border-radius: 50px;
  color: $mainTextColor;
  cursor: pointer;
  font-family: $fontStyle;
  font-size: 20pt;
  font-weight: 100;
  text-decoration: none;

  padding: 10px;
  
  -webkit-transition: 1s ease-out;
  -moz-transition:  1s ease-out;
  transition:  1s ease-out;
  &:hover {
    box-shadow: 0 0 70px 15px $shadowColor;
    color: $hoverColor;
  }
}

.nav-link.active {
  background: $transparentHoverColor;
  color: $backgroundColor;
  &:hover {
    background: none;
    box-shadow: 0 0 70px 15px $shadowColor;
    color: $hoverColor;
  }
}

.nav-link.navBar {
  font-size: 16pt;
  margin: 0 100px;
}

.home-link {
  color: $backgroundColor;
  font-family: $fontStyle;
  font-weight: 900;
  text-decoration: none; 
  text-shadow: 0 0 15px $hoverColor;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

#Moth {
  height: 120px;
  width: 120px;

  -webkit-transition: 2s ease-out;
  -moz-transition:  2s ease-out;
  transition:  2s ease-out;
  &:hover {
    -webkit-transform: rotateZ(-360deg);
    -moz-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg);
  }
}

#Moth.left {
  -webkit-transition: 0.5s ease-out;
  -moz-transition:  0.5s ease-out;
  transition:  0.5s ease-out;
  -webkit-transform: rotateZ(-90deg);
  -moz-transform: rotateZ(-90deg);
  transform: rotateZ(-90deg);
}

#Moth.right {
  -webkit-transition: 0.5s ease-out;
  -moz-transition:  0.5s ease-out;
  transition:  0.5s ease-out;
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}

#Moth.navBar {
  height: 80px;
  width: 80px;
  &:hover {
    -webkit-transition: 2s ease-out;
    -moz-transition:  2s ease-out;
    transition:  2s ease-out;
    -webkit-transform: rotateZ(-360deg);
    -moz-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg);
  }
}

h1 {
  border-bottom: 3px solid $mainTextColor;
  color: $mainTextColor;
  font-family: $fontStyle;
  font-size: 40pt;
  font-weight: 900;
  text-align: center;

  padding: 25px;
  margin: 25px;
  width: 600px;

  -webkit-transition: 0.5s ease-out;
  -moz-transition:  0.5s ease-out;
  transition:  0.5s ease-out;
}

.sub-title {
  color: $mainTextColor;
  font-family: $fontStyle;
  font-size: 20pt;

  display: block;

  margin: 0;
}

.Contacts {
  position: relative;

  margin-top: 130px;
  width: 300px;
}

.github {
  background-image: url('../assets/github-icons/github.svg');

  left: 20px;
  &:hover {
    background-image: url('../assets/github-icons/github-hover.svg')
  } 
}

.email {
  background: transparent;
  background-image: url('../assets/email-icons/email.svg');
  border: none;

  right: 130px;
  &:hover {
    background-image: url('../assets/email-icons/email-hover.svg')
  } 
}

.linkedIn {
  background-image: url('../assets/linkedIn-icons/linkedIn.svg');
  right: 20px;

  &:hover {
    background-image: url('../assets/linkedIn-icons/linkedIn-hover.svg')
  } 
}

.github,
.linkedIn,
.email {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 100%;
  cursor: pointer;

  position: absolute;

  height: 40px;
  width: 40px;

  -webkit-transition: 1s ease-out;
  -moz-transition:  1s ease-out;
  transition:  1s ease-out;
  &:hover {
    // box-shadow: 0 0 70px 15px $shadowColor;
    height: 50px;
    margin: -10px;
    width: 50px;

    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

.ThemeToggle {
  bottom: 15px;
  left: 15px;
  position: absolute;
}

#toggle {
  background-color: $mainTextColor;
  border-radius: 20px;
  text-align: left;

  display: inline-block;
  position: relative;
  
  margin: 10px;
  width: 80px;
  input {
    cursor: pointer;
    opacity: 0;

    position: absolute;
    z-index: 2;

    width: 100%;
    height: 100%;
  }
  label {
    background-color: $transparentHoverColor;
    border-radius: 50px;
    color: $toggleLight;
    font-family: $fontStyle;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
    
    display: inline-block;

    padding: 5px 10px;
    width: 40px;

    -webkit-transition: margin-left 0.2s ease-in-out;
    -moz-transition: margin-left 0.2s ease-in-out;
    transition: margin-left 0.2s ease-in-out;
    &:before {
      content: attr(data-off);
    }
  }
  input:checked + label:before {
    content: attr(data-on);
  }

  input:checked + label {
    background-color: $toggleDark;
    margin-left: 20px;
  }
}

.EmailForm {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;

  height: 100%;
  width: 100%;
}

.form-wrapper {
  background: $backgroundColor;
  border: 30px solid $hoverColor;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  height: 570px;
  width: 770px;
  .error-msg {
    color: $errorColor;
    font-family: $fontStyle;
    font-size: 20pt;
    font-weight: 900;
    
    align-self: center;
    position: absolute;
    bottom: -10px;
  }
}

.email-form {
  background: $transparentHoverColor;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 15px;
  input,
  textarea {
    border: none;
    font-size: 16pt;
    
    padding: 5px;
    margin: 20px;
    width: 460px;
  }
  textarea {
    height: 120px;
    resize: none;
  }
  input.submit-btn {
    background: $backgroundColor;
    border-radius: 50px;
    color: $hoverColor;
    cursor: pointer;

    width: 470px;

    -webkit-transition: 0.7s ease-out;
    -moz-transition:  0.7s ease-out;
    transition:  0.7s ease-out;
    &:hover {
      background: $hoverColor;
      color: $backgroundColor;
    }
  }
}

.close-x {
  background-image: url('../assets/close-icons/close.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 100%;
  cursor: pointer;

  position: absolute;
  top: 15px;
  right: 15px;

  height: 40px;
  width: 40px;
  &:hover {
    background-image: url('../assets/close-icons/close-hover.svg');
  }
}

.closing-form {
  font-family: $fontStyle;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;
  h5 {
    color: $hoverColor;
    font-size: 50pt;

    margin: 0;
  }
  p {
    color: $mainTextColor;
    font-size: 20pt;

    margin: 30px;
  }
}

.close-btn {
  background: $transparentHoverColor;
  border: none;
  border-radius: 50px;
  color: $backgroundColor;
  cursor: pointer;
  font-family: $fontStyle;
  font-size: 18pt;
  font-weight: 100;
  text-decoration: none;

  padding: 10px;
  margin: 10px;
  
  -webkit-transition: 0.7s ease-out;
  -moz-transition:  0.7s ease-out;
  transition:  0.7s ease-out;
  &:hover {
    background: none;
    box-shadow: 0 0 70px 15px $shadowColor;
    color: $hoverColor;
  }
}
