/* colors */
/* FONTS */
@import url("https://fonts.googleapis.com/css?family=Jura");
/* TOGGLE BUTTON */
/* LIGHT THEME */
/* DARK THEME */
/* MOTH COLORS*/
/* DARK THEME */
@import url(./AppThemes.css);
/* LIGHT THEME - default */
body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px; }

.App {
  background: #FAF9F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  transition: 0.5s ease-out; }

.Nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  width: 600px; }

.Nav.navBar {
  border-bottom: 2px solid #C9C9CD;
  justify-content: space-around;
  position: absolute;
  padding: 15px;
  top: 0;
  width: 80%; }

.nav-link {
  border-radius: 50px;
  color: #C9C9CD;
  cursor: pointer;
  font-family: "Jura", monospace;
  font-size: 20pt;
  font-weight: 100;
  text-decoration: none;
  padding: 10px;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  transition: 1s ease-out; }
  .nav-link:hover {
    box-shadow: 0 0 70px 15px rgba(201, 201, 205, 0.7);
    color: #877D78; }

.nav-link.active {
  background: rgba(155, 145, 140, 0.7);
  color: #FAF9F6; }
  .nav-link.active:hover {
    background: none;
    box-shadow: 0 0 70px 15px rgba(201, 201, 205, 0.7);
    color: #877D78; }

.nav-link.navBar {
  font-size: 16pt;
  margin: 0 100px; }

.home-link {
  color: #FAF9F6;
  font-family: "Jura", monospace;
  font-weight: 900;
  text-decoration: none;
  text-shadow: 0 0 15px #877D78;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; }

#Moth {
  height: 120px;
  width: 120px;
  -webkit-transition: 2s ease-out;
  -moz-transition: 2s ease-out;
  transition: 2s ease-out; }
  #Moth:hover {
    -webkit-transform: rotateZ(-360deg);
    -moz-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg); }

#Moth.left {
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  -webkit-transform: rotateZ(-90deg);
  -moz-transform: rotateZ(-90deg);
  transform: rotateZ(-90deg); }

#Moth.right {
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  transform: rotateZ(90deg); }

#Moth.navBar {
  height: 80px;
  width: 80px; }
  #Moth.navBar:hover {
    -webkit-transition: 2s ease-out;
    -moz-transition: 2s ease-out;
    transition: 2s ease-out;
    -webkit-transform: rotateZ(-360deg);
    -moz-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg); }

h1 {
  border-bottom: 3px solid #C9C9CD;
  color: #C9C9CD;
  font-family: "Jura", monospace;
  font-size: 40pt;
  font-weight: 900;
  text-align: center;
  padding: 25px;
  margin: 25px;
  width: 600px;
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  transition: 0.5s ease-out; }

.sub-title {
  color: #C9C9CD;
  font-family: "Jura", monospace;
  font-size: 20pt;
  display: block;
  margin: 0; }

.Contacts {
  position: relative;
  margin-top: 130px;
  width: 300px; }

.github {
  background-image: url("../assets/github-icons/github.svg");
  left: 20px; }
  .github:hover {
    background-image: url("../assets/github-icons/github-hover.svg"); }

.email {
  background: transparent;
  background-image: url("../assets/email-icons/email.svg");
  border: none;
  right: 130px; }
  .email:hover {
    background-image: url("../assets/email-icons/email-hover.svg"); }

.linkedIn {
  background-image: url("../assets/linkedIn-icons/linkedIn.svg");
  right: 20px; }
  .linkedIn:hover {
    background-image: url("../assets/linkedIn-icons/linkedIn-hover.svg"); }

.github,
.linkedIn,
.email {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 100%;
  cursor: pointer;
  position: absolute;
  height: 40px;
  width: 40px;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  transition: 1s ease-out; }
  .github:hover,
  .linkedIn:hover,
  .email:hover {
    height: 50px;
    margin: -10px;
    width: 50px;
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    transform: rotateZ(360deg); }

.ThemeToggle {
  bottom: 15px;
  left: 15px;
  position: absolute; }

#toggle {
  background-color: #C9C9CD;
  border-radius: 20px;
  text-align: left;
  display: inline-block;
  position: relative;
  margin: 10px;
  width: 80px; }
  #toggle input {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%; }
  #toggle label {
    background-color: rgba(155, 145, 140, 0.7);
    border-radius: 50px;
    color: #FAF9F6;
    font-family: "Jura", monospace;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    padding: 5px 10px;
    width: 40px;
    -webkit-transition: margin-left 0.2s ease-in-out;
    -moz-transition: margin-left 0.2s ease-in-out;
    transition: margin-left 0.2s ease-in-out; }
    #toggle label:before {
      content: attr(data-off); }
  #toggle input:checked + label:before {
    content: attr(data-on); }
  #toggle input:checked + label {
    background-color: #008;
    margin-left: 20px; }

.EmailForm {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%; }

.form-wrapper {
  background: #FAF9F6;
  border: 30px solid #877D78;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 570px;
  width: 770px; }
  .form-wrapper .error-msg {
    color: #5C0029;
    font-family: "Jura", monospace;
    font-size: 20pt;
    font-weight: 900;
    align-self: center;
    position: absolute;
    bottom: -10px; }

.email-form {
  background: rgba(155, 145, 140, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px; }
  .email-form input,
  .email-form textarea {
    border: none;
    font-size: 16pt;
    padding: 5px;
    margin: 20px;
    width: 460px; }
  .email-form textarea {
    height: 120px;
    resize: none; }
  .email-form input.submit-btn {
    background: #FAF9F6;
    border-radius: 50px;
    color: #877D78;
    cursor: pointer;
    width: 470px;
    -webkit-transition: 0.7s ease-out;
    -moz-transition: 0.7s ease-out;
    transition: 0.7s ease-out; }
    .email-form input.submit-btn:hover {
      background: #877D78;
      color: #FAF9F6; }

.close-x {
  background-image: url("../assets/close-icons/close.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 100%;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
  height: 40px;
  width: 40px; }
  .close-x:hover {
    background-image: url("../assets/close-icons/close-hover.svg"); }

.closing-form {
  font-family: "Jura", monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%; }
  .closing-form h5 {
    color: #877D78;
    font-size: 50pt;
    margin: 0; }
  .closing-form p {
    color: #C9C9CD;
    font-size: 20pt;
    margin: 30px; }

.close-btn {
  background: rgba(155, 145, 140, 0.7);
  border: none;
  border-radius: 50px;
  color: #FAF9F6;
  cursor: pointer;
  font-family: "Jura", monospace;
  font-size: 18pt;
  font-weight: 100;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  -webkit-transition: 0.7s ease-out;
  -moz-transition: 0.7s ease-out;
  transition: 0.7s ease-out; }
  .close-btn:hover {
    background: none;
    box-shadow: 0 0 70px 15px rgba(201, 201, 205, 0.7);
    color: #877D78; }
