/* Base layout, fonts and transitions */
body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px; }

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  transition: 0.5s ease-out; }

.Nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  width: 600px; }

.Nav.navBar {
  justify-content: center;
  padding: 15px;
  position: absolute;
  top: 0;
  width: 80%; }

.nav-link {
  border-radius: 50px;
  cursor: pointer;
  font-size: 20pt;
  font-weight: 100;
  text-decoration: none;
  padding: 10px;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  transition: 1s ease-out; }

.nav-link.navBar {
  font-size: 16pt;
  margin: 0 100px; }

#Moth {
  height: 120px;
  width: 120px;
  -webkit-transition: 2s ease-out;
  -moz-transition: 2s ease-out;
  transition: 2s ease-out; }
  #Moth:hover {
    -webkit-transform: rotateZ(-360deg);
    -moz-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg); }

#Moth.left {
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  -webkit-transform: rotateZ(-90deg);
  -moz-transform: rotateZ(-90deg);
  transform: rotateZ(-90deg); }

#Moth.right {
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  transform: rotateZ(90deg); }

#Moth.navBar {
  height: 80px;
  width: 80px; }
  #Moth.navBar:hover {
    -webkit-transition: 2s ease-out;
    -moz-transition: 2s ease-out;
    transition: 2s ease-out;
    -webkit-transform: rotateZ(-360deg);
    -moz-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg); }

h1 {
  font-size: 40pt;
  font-weight: 900;
  text-align: center;
  padding: 25px;
  margin: 25px;
  width: 600px;
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  transition: 0.5s ease-out; }

.sub-title {
  display: block;
  font-size: 20pt;
  margin: 0; }

.Contacts {
  margin-top: 130px;
  width: 300px;
  position: relative; }

.github {
  background-image: url("../assets/github.svg");
  left: 20px; }
  .github:hover {
    background-image: url("../assets/github-hover.svg"); }

.email {
  background-color: transparent;
  border: none;
  background-image: url("../assets/email.svg");
  right: 130px; }
  .email:hover {
    background-image: url("../assets/email-hover.svg"); }

.linkedIn {
  background-image: url("../assets/linkedIn.svg");
  right: 20px; }
  .linkedIn:hover {
    background-image: url("../assets/linkedIn-hover.svg"); }

.github,
.linkedIn,
.email {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 100%;
  cursor: pointer;
  height: 40px;
  width: 40px;
  position: absolute;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  transition: 1s ease-out; }
  .github:hover,
  .linkedIn:hover,
  .email:hover {
    height: 50px;
    width: 50px;
    margin: -10px;
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    transform: rotateZ(360deg); }

.toggle-wrapper {
  position: absolute;
  bottom: 15px;
  left: 15px; }

#toggle {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 80px;
  border-radius: 20px;
  margin: 10px; }
  #toggle input {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    z-index: 2; }
  #toggle label {
    border-radius: 50px;
    display: inline-block;
    width: 40px;
    text-align: center;
    font-size: 12pt;
    font-weight: bold;
    -webkit-transition: margin-left 0.2s ease-in-out;
    -moz-transition: margin-left 0.2s ease-in-out;
    transition: margin-left 0.2s ease-in-out;
    padding: 5px 10px; }
    #toggle label:before {
      content: attr(data-off); }
  #toggle input:checked + label:before {
    content: attr(data-on); }
  #toggle input:checked + label {
    margin-left: 20px; }
