@import url("https://fonts.googleapis.com/css?family=Jura");
@import url("https://fonts.googleapis.com/css?family=Macondo");
body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px; }

.App {
  background: #FAF9F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center; }

.Nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  width: 600px; }

.nav-link {
  border-radius: 50px;
  font-family: 'Jura', sans-serif;
  font-size: 20pt;
  font-weight: 100;
  color: #C9C9CD;
  cursor: pointer;
  padding: 10px;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  transition: 1s ease-out; }
  .nav-link:hover {
    color: #877D78;
    box-shadow: 0 0 70px 15px rgba(201, 201, 205, 0.7); }

#Moth {
  height: 120px;
  width: 120px;
  -webkit-transition: 2s ease-out;
  -moz-transition: 2s ease-out;
  transition: 2s ease-out; }
  #Moth:hover {
    -webkit-transform: rotateZ(-360deg);
    -moz-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg); }

#Moth.left {
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  -webkit-transform: rotateZ(-90deg);
  -moz-transform: rotateZ(-90deg);
  transform: rotateZ(-90deg); }

#Moth.right {
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  transform: rotateZ(90deg); }

h1 {
  border-bottom: 3px solid #C9C9CD;
  color: #C9C9CD;
  font-family: 'Jura', sans-serif;
  font-size: 40pt;
  font-weight: 900;
  padding: 25px;
  margin: 25px;
  width: 600px; }

.contact-wrapper {
  margin: 20px;
  width: 300px;
  position: relative; }

#github {
  background-image: url("../assets/github.svg");
  left: 80px; }
  #github:hover {
    background-image: url("../assets/github-hover.svg"); }

#linkedIn {
  background-image: url("../assets/linkedIn.svg");
  right: 80px; }
  #linkedIn:hover {
    background-image: url("../assets/linkedIn-hover.svg"); }

#github,
#linkedIn {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 100%;
  cursor: pointer;
  height: 40px;
  width: 40px;
  position: absolute;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  transition: 1s ease-out; }
  #github:hover,
  #linkedIn:hover {
    box-shadow: 0 0 70px 15px rgba(201, 201, 205, 0.7);
    height: 50px;
    width: 50px;
    margin: -10px;
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    transform: rotateZ(360deg); }

.toggle-wrapper {
  position: absolute;
  bottom: 15px;
  left: 15px; }

#toggle {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 80px;
  background-color: #C9C9CD;
  border-radius: 20px;
  margin: 10px; }
  #toggle input {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    z-index: 2; }
  #toggle label {
    background-color: rgba(155, 145, 140, 0.7);
    border-radius: 50px;
    display: inline-block;
    width: 40px;
    text-align: center;
    font-family: 'Jura', sans-serif;
    font-size: 12pt;
    font-weight: bold;
    color: #FAF9F6;
    -webkit-transition: margin-left 0.2s ease-in-out;
    -moz-transition: margin-left 0.2s ease-in-out;
    transition: margin-left 0.2s ease-in-out;
    padding: 5px 10px; }
    #toggle label:before {
      content: attr(data-off); }
  #toggle input:checked + label:before {
    content: attr(data-on); }
  #toggle input:checked + label {
    background-color: #008;
    margin-left: 20px; }
