/* FONTS */
@import url("https://fonts.googleapis.com/css?family=Jura");
/* TOGGLE BUTTON */
/* LIGHT THEME */
/* DARK THEME */
/* MOTH COLORS*/
/* DARK THEME */
.App.dark {
  background: #020C31; }

.Nav.dark {
  margin-bottom: 10px; }

.nav-link.dark {
  color: #4A6846;
  font-family: "Jura", monospace; }
  .nav-link.dark:hover {
    box-shadow: 0 0 70px 15px rgba(196, 241, 190, 0.7);
    color: #C4F1BE; }

h1.dark {
  border: none;
  border-bottom: 3px solid #4A6846;
  color: #020C31;
  font-family: "Jura", monospace;
  font-size: 70pt;
  text-shadow: rgba(196, 241, 190, 0.7) 0 0 30px; }

.sub-title.dark {
  color: rgba(255, 170, 104, 0.4); }

.github.dark {
  background-image: url("../assets/github-icons/github-dark.svg"); }
  .github.dark:hover {
    background-image: url("../assets/github-icons/github-dark-hover.svg"); }

.email.dark {
  background-image: url("../assets/email-icons/email-dark.svg"); }
  .email.dark:hover {
    background-image: url("../assets/email-icons/email-dark-hover.svg"); }

.linkedIn.dark {
  background-image: url("../assets/linkedIn-icons/linkedIn-dark.svg"); }
  .linkedIn.dark:hover {
    background-image: url("../assets/linkedIn-icons/linkedIn-dark-hover.svg"); }

.github.dark:hover,
.email.dark:hover,
.linkedIn.dark:hover {
  box-shadow: 0 0 70px 15px rgba(196, 241, 190, 0.7); }

#toggle.dark {
  background-color: #4A6846; }
  #toggle.dark label {
    background-color: #C4F1BE;
    box-shadow: 0 0 20px 1px rgba(196, 241, 190, 0.7);
    color: #FAF9F6;
    font-family: "Jura", monospace; }
  #toggle.dark input:checked + label {
    background-color: #008; }
