@import './App.css';
@import '../styles/variables.scss';

/* LIGHT THEME - default */
.App {
  background: $backgroundColor;
}

.Nav.navBar {
  border-bottom: 2px solid $mainTextColor;
}

.nav-link {
  font-family: $fontStyle;
  color: $mainTextColor;
  &:hover {
    color: $hoverColor;
    box-shadow: 0 0 70px 15px $shadowColor;
  }
}

.nav-link.active {
  background: $transparentHoverColor;
  color: $backgroundColor;
  &:hover {
    background: none;
    box-shadow: 0 0 70px 15px $shadowColor;
    color: $hoverColor;
  }
}

.home-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $backgroundColor;
  font-family: $fontStyle;
  font-weight: 900;
  text-decoration: none; 
  text-shadow: 0 0 15px $hoverColor;
  position: relative;
}

h1 {
  border-bottom: 3px solid $mainTextColor;
  color: $mainTextColor;
  font-family: $fontStyle;
}

.sub-title {
  color: $mainTextColor;
  font-family: $fontStyle;
}

.github,
.linkedIn,
.email {
  &:hover {
    box-shadow: 0 0 70px 15px $shadowColor;
  }
}

#toggle {
  background-color: $mainTextColor;
  label {
    background-color: $transparentHoverColor;
    font-family: $fontStyle;
    color: $toggleLight;
  }
  input:checked + label {
    background-color: $toggleDark;
  }
}

.form-wrapper {
  border: 30px solid $hoverColor;
  background: $backgroundColor;
}

.email-form {
  background: $transparentHoverColor;
  input.submit-btn {
    background: $backgroundColor;
    &:hover {
      background: $hoverColor;
      color: $backgroundColor;
    }
  }
}

/* DARK THEME */

.App.dark {
  background: $backgroundColor-Dark;
}

.Nav.dark {
  margin-bottom: 10px;
}

.nav-link.dark {
  font-family: $fontStyle;
  color: $mainTextColor-Dark;
  &:hover {
    color: $hoverColor-Dark;
    box-shadow: 0 0 70px 15px $shadowColor-Dark;
  }
}

h1.dark {
  border-bottom: 3px solid $mainTextColor-Dark;
  color: $backgroundColor-Dark;
  font-family: $fontStyle;
  font-size: 70pt;
  text-shadow: $shadowColor-Dark 0 0 30px;
  border: none;
}

.sub-title.dark {
  color: $subTextColor-Dark;
}

.github.dark {
  background-image: url('../assets/github-dark.svg');
  &:hover {
    background-image: url('../assets/github-dark-hover.svg')
  } 
}

.email.dark {
  background-image: url('../assets/email-dark.svg');
  &:hover {
    background-image: url('../assets/email-dark-hover.svg')
  } 
}

.linkedIn.dark {
  background-image: url('../assets/linkedIn-dark.svg');
  &:hover {
    background-image: url('../assets/linkedIn-dark-hover.svg')
  } 
}

.github.dark,
.linkedIn.dark
.email.dark {
  &:hover {
    box-shadow: 0 0 70px 15px $shadowColor-Dark;
  }
}

#toggle.dark {
  background-color: $mainTextColor-Dark;
  label {
    background-color: $hoverColor-Dark;
    box-shadow: 0 0 20px 1px $shadowColor-Dark;
    font-family: $fontStyle;
    color: $toggleLight;
  }
  input:checked + label {
    background-color: $toggleDark;
  }
}


