@import '../styles/variables.scss';

/* DARK THEME */
.App.dark {
  background: $backgroundColor-Dark;
}

.Nav.dark {
  margin-bottom: 10px;
}

.nav-link.dark {
  color: $mainTextColor-Dark;
  font-family: $fontStyle;
  &:hover {
    box-shadow: 0 0 70px 15px $shadowColor-Dark;
    color: $hoverColor-Dark;
  }
}

h1.dark {
  border: none;
  border-bottom: 3px solid $mainTextColor-Dark;
  color: $backgroundColor-Dark;
  font-family: $fontStyle;
  font-size: 70pt;
  text-shadow: $shadowColor-Dark 0 0 30px;
}

.sub-title.dark {
  color: $subTextColor-Dark;
}

.github.dark {
  background-image: url('../assets/github-icons/github-dark.svg');
  &:hover {
    background-image: url('../assets/github-icons/github-dark-hover.svg')
  } 
}

.email.dark {
  background-image: url('../assets/email-icons/email-dark.svg');
  &:hover {
    background-image: url('../assets/email-icons/email-dark-hover.svg')
  } 
}

.linkedIn.dark {
  background-image: url('../assets/linkedIn-icons/linkedIn-dark.svg');
  &:hover {
    background-image: url('../assets/linkedIn-icons/linkedIn-dark-hover.svg')
  } 
}

.github.dark,
.email.dark,
.linkedIn.dark {
  &:hover {
    box-shadow: 0 0 70px 15px $shadowColor-Dark;
  }
}

#toggle.dark {
  background-color: $mainTextColor-Dark;
  label {
    background-color: $hoverColor-Dark;
    box-shadow: 0 0 20px 1px $shadowColor-Dark;
    color: $toggleLight;
    font-family: $fontStyle;
  }
  input:checked + label {
    background-color: $toggleDark;
  }
}


