/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Jura');
$fontStyle: 'Jura', monospace;

/* TOGGLE BUTTON */

$toggleLight: #FAF9F6;
$toggleDark: #008;


/* LIGHT THEME */
$backgroundColor: #FAF9F6;
$mainTextColor: #C9C9CD;
$shadowColor: rgba(201, 201, 205, 0.7);
$hoverColor: #877D78;
$transparentHoverColor: rgba(155, 145, 140, 0.7);


/* DARK THEME */
$backgroundColor-Dark: #020C31;
$mainTextColor-Dark: #4A6846;
$shadowColor-Dark: rgba(196, 241, 190, 0.7);
$hoverColor-Dark: #C4F1BE;
$shadowTextColor-Dark: rgba(255, 170, 104, 0.7);

// #CFCAC4
// #877D78
// #ADA9A7
// #F0EBE1
// #9B918C

// #4A6846
// #C4F1BE
// #0BAD3F
// #5C0029
// #FFAA68